--base--light: #111111;
--base-tint--light: #161616;
--base-shade--light: #000000;
--accent--light: #E4B8BF;
--secondary--light: #CEC4EF;
--secondary-rgba--light: rgba(206,196,239,0.2);
--stroke-controls--light: #4B4B51;
--stroke-controls-neutral--light: rgba(255,255,255,0.3);
--stroke-elements--light: #303033;
--t-bright--light: #e9e9f1;
--t-medium--light: #C7C6D3;
--t-muted--light: #A1A1AF;
--t-accent--light: #E1BAC5;
--t-secondary--light: #CEC4EF;
--t-disabled--light: #8B8A91;
--t-placeholder--light: #58585E;
--base-opp--light: #fafafa;
--t-opp-bright--light: #121319;
--t-opp-medium--light: #626577;
--t-opp-muted--light: #717586;
--gradient-one--light: #a287d5;
--gradient-two--light: #E4B8BF;
--gradient-three--light: #8b6bc5;